*{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 5px;
}
.container{
    display: flex;
    height: 700px;
    text-align: center;
    justify-content: space-between;   
}
.vagas1{
    height: 700px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px

}
a{
    background-color: blue;
    border: 1px solid blue;
    color: aliceblue;
    border-radius: 4px;
    margin: 5px;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow;
}
a:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0,2);
}
.alunos1{
    height: 700px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}


footer{
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 4px;

}
.vetor{
    display: flex;
    list-style: none;
    align-items: center;
}
li{
    margin: 10px;
}
